.AllWorkout {
  display: flex;
  margin-top: 10vh;
  margin-left: 4vw;
  width: 90vw;
  flex-direction: row;
  row-gap: 4vh;
  justify-content: space-around;
  flex-wrap: wrap;
}

#titleWorkout h4 {
  text-decoration: none;
  width: 15vw;
  margin-left: 2vw;
}

#workoutTitle {
  text-decoration: none;
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;

}

.CardItem {
  background-color: white;
  width: 20vw;
  display: flex;
  justify-content: space-between;
  box-shadow: -7px 5px 8px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
}

.btn-delete { 
  width: 5vw;
}

#delete{
  width: 3vw;
  margin-top: 1vh;
}
