.workouts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20vh;
  width: 100vw;
  height: 80vh;
}

.workouts h1 {
  color: white;
}
