.workouts {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30vh;
  width: 100vw;
  height: 80vh;
}

.workouts h1 {
  color: white;
  padding-right: 5vw;
  margin-left: 40vw;
}
