#inscrit {
  background-color: white;
  width: 80%;
  color: black;
  padding: 0.5em;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

#navbarHome {
  background-color: black;
}

#logoNav {
  width: 10vw;
}

.liste {
  list-style-type: none;
  background-color: black;
  height: 100%;
  display: grid;
  grid-template-columns: 3fr repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
}

.items {
  margin-right: 10px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.btn-nav {
  display: none;
}

@media screen and (max-width: 500px) {
  .liste {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 33vh;
    width: 100vw;
    background-color: black;
    position: absolute;
    top: -12vh;
  }

  .items:nth-child(1) {
    margin-top: 50px;
  }

  .items {
    height: 2vh;
    width: 10vw;
    font-size: x-small;
    width: 100%;
  }

  .btn-nav {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #333;
    cursor: pointer;
    border: none;
  }

  .burger {
    width: 5vw;
  }

  #navbarHome {
    height: 5vh;
    background-color: black;
    margin: 0;
    padding: 0;
  }
}
